@import url('reset.css');

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    color: #fff;
    padding: 12px 20px;
    box-shadow: 0px 2px 8px 0px #c3c3c3;
}
.logo{
    width: 200px;
    float: left;
}
header a{
    color: #fff;
    background-color: #db2938;
    float: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 8px;
    border-radius:3px;
    font-weight: bold;
}

footer{
    width: 100%;
    height: auto;
    background-color: #242323;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: 0;
}

footer p{
    padding: 10px;
}
footer i{
    padding-top: 20px;
    color: #fff;
    font-size: 1.3em;
}

i{
    padding: 7px;
    color: #fff;
}

@media screen and (max-width: 800px) {
    footer{
        bottom: auto;
    }

}

