@import url('reset.css');

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    color: #fff;
    padding: 12px 20px;
    box-shadow: 0px 2px 8px 0px #c3c3c3;
}
.logo{
    width: 200px;
    float: left;
}
header a{
    color: #fff;
    background-color: #db2938;
    float: right;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 8px;
    border-radius:3px;
    font-weight: bold;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 450px;
    grid-gap: 40px 20px;
    grid-template-areas: "menu ingresso";
    padding: 20px;
}

#ingressos{
    grid-area: ingresso;
    display: flex;
    flex-flow: column;
    padding: 50px;
}

#menu{
    grid-area: menu;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #db2938;
}

#menu i{
    margin-bottom: 10px;
    font-size: 5em; 
}

#menu h2{
    color: #fff;
    font-size: 1.4em; 
    margin-bottom: 30px;
}

#menu p{
    margin-bottom: 10px; 
    display: block;
    color: #fff;
    font-size: 1.2em; 
}

th{
    font-weight: bold;
    background-color: #db2938;
    padding: 10px;
    color: #fff;
}

td{
    padding: 10px 50px;
    background-color: #ececec;
}

h1{
    font-size: 2em;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #242323;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

footer p{
    padding: 10px;
}
footer i{
    padding-top: 20px;
    color: #fff;
    font-size: 1.3em;
}

i{
    padding: 7px;
    color: #fff;
}

/* Tablet */
@media screen and (max-width: 800px) {
    #proximos_eventos{
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(2,auto);
        grid-template-areas: "evento1 evento2"
                             "evento3 evento4"
                             "evento5 evento5";
        grid-gap: 15px;
    }
}



/* Mobile */
@media screen and (max-width: 600px) {
    .container{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
        grid-gap: 15px;
        grid-template-areas: "banner"
                             "eventos"
                             "eventos_proximos";
                           
    }
        
    #proximos_eventos{
        grid-template-rows: repeat(5,auto);
        grid-template-columns: auto;
        grid-template-areas: "evento1"
                             "evento2"
                             "evento3"
                             "evento4"
                             "evento5";
        grid-gap: 15px;
                            
    }
    
}